body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EEE;
}

main {
  flex: 1 0 auto;
}

.nav__icon {
  padding-left: 10px;
}

.person__icons{
  color: #e53935;
}

.person__detail {
  margin-left: 2%;
}

.card-content > p {
  margin: 2% 0 !important;
}

.card-image img {
  height:400px;
}

.card__hobby img {
  height: 300px;
}
